.hero-bg {
  &--2 {
    background-image: url("./media/christophe-laurenceau-667800-unsplash.jpg");
  }
}

.three-part-grid {
  display: grid;
  min-height: 100vh;
  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    div:first-child {
      grid-row: 1 / -1;
      grid-column: 1;
    }
    div:nth-child(2) {
      grid-row: 1;
      grid-column: 2;
      @media (max-width: 1023px) {
        order: -1;
      }
    }
    div:last-child {
      grid-row: 2;
      grid-column: 2;
    }
  }
  div:nth-child(2) {
    @media (max-width: 1023px) {
      order: -1;
    }
  }
}

.quotes {
  .quote {
    width: 100%;
    padding: 0;
    text-align: left;
    blockquote {
      &:before {
        top: 12px;
        left: -18px;
      }
    }
    blockquote,
    cite {
      margin-left: 13px;
    }
  }
}

.team-grid {
  display: grid;
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (max-width: 1199px) {
    .mobile-border-bot {
      border-bottom: 3px solid #000;
    }
    .border-left,
    .border-right {
      border-left: none;
      border-right: none;
    }
  }
}

.profile-img-containter {
  width: 75px;
  height: 75px;
  border-radius: 50px;
}
.bill-img {
  background-image: url("./media/jeremy-perkins-317087-unsplash.jpg");
}
.gabe-img {
  background-image: url("../media/nathan-dumlao-367165-unsplash.jpg");
}

.caroline-img {
  background-image: url("./media/kayla-farmer-779677-unsplash.jpg");
}

.gabe-img {
  background-image: url("./media/ciocan-ciprian-324091-unsplash.jpg");
}

.rachel-img {
  background-image: url("./media/annie-spratt-593484-unsplash.jpg");
}

.dave-img {
  background-image: url("./media/ramille-soares-800139-unsplash.jpg");
}

.carl-img {
  background-image: url("./media/luke-southern-761582-unsplash.jpg");
}

.job-title {
  margin-top: 0;
}
