.hero-bg--2 {
  background-image: url("./media/christophe-laurenceau-667800-unsplash.jpg");
}

.three-part-grid {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
}

@media (min-width: 1024px) {
  .three-part-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .three-part-grid div:first-child {
    grid-row: 1 / -1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .three-part-grid div:nth-child(2) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

@media (min-width: 1024px) and (max-width: 1023px) {
  .three-part-grid div:nth-child(2) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media (min-width: 1024px) {
  .three-part-grid div:last-child {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

@media (max-width: 1023px) {
  .three-part-grid div:nth-child(2) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.quotes .quote {
  width: 100%;
  padding: 0;
  text-align: left;
}

.quotes .quote blockquote:before {
  top: 12px;
  left: -18px;
}

.quotes .quote blockquote,
.quotes .quote cite {
  margin-left: 13px;
}

.team-grid {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 1200px) {
  .team-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1199px) {
  .team-grid .mobile-border-bot {
    border-bottom: 3px solid #000;
  }
  .team-grid .border-left,
  .team-grid .border-right {
    border-left: none;
    border-right: none;
  }
}

.profile-img-containter {
  width: 75px;
  height: 75px;
  border-radius: 50px;
}

.bill-img {
  background-image: url("./media/jeremy-perkins-317087-unsplash.jpg");
}

.gabe-img {
  background-image: url("../media/nathan-dumlao-367165-unsplash.jpg");
}

.caroline-img {
  background-image: url("./media/kayla-farmer-779677-unsplash.jpg");
}

.gabe-img {
  background-image: url("./media/ciocan-ciprian-324091-unsplash.jpg");
}

.rachel-img {
  background-image: url("./media/annie-spratt-593484-unsplash.jpg");
}

.dave-img {
  background-image: url("./media/ramille-soares-800139-unsplash.jpg");
}

.carl-img {
  background-image: url("./media/luke-southern-761582-unsplash.jpg");
}

.job-title {
  margin-top: 0;
}
/*# sourceMappingURL=about.css.map */