.contact-bg {
  background-image: url("./media/yucel-moran-974074-unsplash.jpg");
  background-color: rgba(0, 0, 0, 0.14);
  background-blend-mode: darken;
}

.contact-form {
  width: 100%;
}

.contact-form label {
  width: 100%;
}

.contact-form span {
  margin-top: 1em;
  margin-bottom: 0;
}

.contact-form input,
.contact-form textarea,
.contact-form fieldset {
  border: none;
  width: calc(100% - 3px);
  outline: none;
  margin-bottom: 3px;
}

.contact-form span,
.contact-form input,
.contact-form textarea,
.contact-form button {
  font-family: Roboto;
  font-size: 1.8em;
  line-height: 3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
}

@media (min-width: 1024px) {
  .contact-form .top-row-span {
    margin-top: 0;
  }
}

.contact-form .checkbox {
  width: auto;
}

.contact-form .newsletter {
  margin: 1em 0;
}

.contact-form fieldset {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contact-form fieldset label {
  width: 50%;
  margin-top: 1rem;
  font-size: 1.8em;
}

.contact-form fieldset input {
  width: auto;
}

.required-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.fa-star-of-life {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 0.8rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.submit {
  background: #fff;
}

@media (min-width: 1024px) {
  input,
  textarea {
    width: calc(100% - 3px);
  }
  .contact-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .grid-col-1 {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .grid-col-2 {
    -ms-grid-column: 2;
    grid-column: 2;
    padding-left: 1em;
  }
}
/*# sourceMappingURL=contact.css.map */