.contact-bg {
  background-image: url("./media/yucel-moran-974074-unsplash.jpg");
  background-color: rgba(0, 0, 0, 0.14);
  background-blend-mode: darken;
}
.contact-form {
  width: 100%;
  label {
    width: 100%;
  }
  span {
    margin-top: 1em;
    margin-bottom: 0;
  }
  input,
  textarea,
  fieldset {
    border: none;
    width: calc(100% - 3px);
    outline: none;
    margin-bottom: 3px;
  }
  span,
  input,
  textarea,
  button {
    font-family: Roboto;
    font-size: 1.8em;
    line-height: 3rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
  }
  @media (min-width: 1024px) {
    .top-row-span {
      margin-top: 0;
    }
  }
  .checkbox {
    width: auto;
  }
  .newsletter {
    margin: 1em 0;
  }
  fieldset {
    margin-top: 1rem;
    margin-bottom: 1rem;
    label {
      width: 50%;
      margin-top: 1rem;
      font-size: 1.8em;
    }
    input {
      width: auto;
    }
  }
}

.required-input {
  display: flex;
  align-items: flex-start;
}

.fa-star-of-life {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 0.8rem;
  transform: rotate(90deg);
}
.submit {
  background: #fff;
}
@media (min-width: 1024px) {
  input,
  textarea {
    width: calc(100% - 3px);
  }
  .contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid-col-1 {
    grid-column: 1;
  }
  .grid-col-2 {
    grid-column: 2;
    padding-left: 1em;
  }
}
