html,
body {
  font-size: 10px;
}

h1 {
  margin-bottom: 3rem;
  font-family: Roboto;
  font-size: 6.866455078125em;
  line-height: 9rem;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0em;
}

h2 {
  margin-bottom: 3rem;
  font-family: Roboto;
  font-size: 5.4931640625em;
  line-height: 6rem;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0em;
}

h3 {
  margin-bottom: 3rem;
  font-family: Roboto;
  font-size: 4.39453125em;
  line-height: 6rem;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0em;
}

h4 {
  margin-bottom: 3rem;
  font-family: Roboto;
  font-size: 3.515625em;
  line-height: 6rem;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0em;
}

h5 {
  margin-bottom: 3rem;
  font-family: Roboto;
  font-size: 2.8125em;
  line-height: 3rem;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0em;
}

h6 {
  margin-bottom: 3rem;
  font-family: Roboto;
  font-size: 2.25em;
  line-height: 3rem;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0em;
}

p {
  margin-bottom: 3rem;
  font-family: Roboto;
  font-size: 1.8em;
  line-height: 3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
}

blockquote,
cite {
  margin-bottom: 3rem;
  font-family: Roboto;
  font-size: 1.8em;
  line-height: 3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
}

@media screen and (max-width: 720px) {
  p,
  blockquote,
  cite {
    font-size: 1.6em;
    line-height: 3rem;
    margin-bottom: 3rem;
  }

  h6 {
    font-size: 2em;
    line-height: 3rem;
    margin-bottom: 3rem;
  }

  h5 {
    font-size: 2.5em;
    line-height: 3rem;
    margin-bottom: 3rem;
  }

  h4 {
    font-size: 3.125em;
    line-height: 6rem;
    margin-bottom: 3rem;
  }

  h3 {
    font-size: 3.90625em;
    line-height: 6rem;
    margin-bottom: 3rem;
  }

  h2 {
    font-size: 4.8828125em;
    line-height: 6rem;
    margin-bottom: 3rem;
  }

  h1 {
    font-size: 6.103515625em;
    line-height: 6rem;
    margin-bottom: 3rem;
  }
}
