.bg {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.cleveland-bg {
  background-image: url("./media/google-maps-of-ohio-19.jpg");
}

.willard-bg {
  background-image: url("./media/Willard-Google-Maps.png");
}

p {
  margin-bottom: 0;
}

.maps {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.maps .map {
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  padding-bottom: 0;
  -webkit-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}

.map-links p {
  cursor: pointer;
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
  margin-top: 3rem;
}

.map-links:hover p {
  color: rgba(0, 0, 0, 0.7);
}

.map-links p:hover {
  color: black;
}

.map-links,
.addresses {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1023px) {
  .maps {
    height: 40vh;
  }
  .map-links p {
    font-size: 2.5rem;
  }
  .map-links {
    padding-top: 0;
  }
}

@media (min-width: 1024px) {
  h3 {
    margin-top: 0;
  }
  .maps,
  .location-blurb {
    padding-bottom: 0;
  }
  .map-links,
  .addresses {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .grid-row-1 {
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .grid-row-2 {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .grid-col-1 {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .grid-col-2 {
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

.hide-map {
  opacity: 0;
}

@media (min-width: 1400px) {
  .maps {
    min-height: 400px;
  }
}
/*# sourceMappingURL=locations.css.map */