.products-grid {
  display: grid;
  min-height: 100vh;
  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    .panel {
      width: 100%;
      height: 100%;
      &-1 {
        grid-row: 1/-1;
        grid-column: 1;
      }
      &-2 {
        grid-row: 1;
        grid-column: 2/-1;
      }
      &-3 {
        grid-row: 2;
        grid-column: 2/-1;
      }
      &-4 {
        grid-row: 3;
        grid-column: 2/-1;
      }
      &-5 {
        grid-row: 4;
        grid-column: 2/-1;
      }
    }
  }
  @media (max-width: 1199px) {
    .mobile-border-bot {
      border-bottom: 3px solid #000;
    }
    .border-left,
    .border-right {
      border-left: none;
      border-right: none;
    }
  }
}

.featured-product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .product-img {
    width: 200px;
    height: auto;
    background-size: contain;
    @media (max-width: 700px) {
      min-height: 20vh;
    }
    @media (min-width: 1400px) {
      width: 350px;
    }
  }
  &-title {
    margin-top: 0;
  }
  &-offer {
    margin-top: 0;
  }
  .product-info {
    max-width: 380px;
    @media (min-width: 1400px) {
      max-width: 500px;
    }
  }
}

.john-deere-700 {
  background-image: url("./media/johndeerex700series.jpg");
}

.honda-hrx {
  background-image: url("./media/hondaHRXSeries.jpg");
}

.cub-cadet-xt1 {
  background-image: url("./media/cubcadetxt1series.png");
}

.toro-timecutter {
  background-image: url("./media/toro-timecutter.jpg");
}

.services,
.brands {
  margin: 0 auto;
}

.brands {
  max-width: 1100px;
}

.services {
  max-width: 1350px;
  justify-content: space-around;
  .service {
    max-width: 400px;
  }
}
