.products-grid {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
}

@media (min-width: 1200px) {
  .products-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
  .products-grid .panel {
    width: 100%;
    height: 100%;
  }
  .products-grid .panel-1 {
    grid-row: 1/-1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .products-grid .panel-2 {
    -ms-grid-row: 1;
    grid-row: 1;
    grid-column: 2/-1;
  }
  .products-grid .panel-3 {
    -ms-grid-row: 2;
    grid-row: 2;
    grid-column: 2/-1;
  }
  .products-grid .panel-4 {
    -ms-grid-row: 3;
    grid-row: 3;
    grid-column: 2/-1;
  }
  .products-grid .panel-5 {
    -ms-grid-row: 4;
    grid-row: 4;
    grid-column: 2/-1;
  }
}

@media (max-width: 1199px) {
  .products-grid .mobile-border-bot {
    border-bottom: 3px solid #000;
  }
  .products-grid .border-left,
  .products-grid .border-right {
    border-left: none;
    border-right: none;
  }
}

.featured-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.featured-product .product-img {
  width: 200px;
  height: auto;
  background-size: contain;
}

@media (max-width: 700px) {
  .featured-product .product-img {
    min-height: 20vh;
  }
}

@media (min-width: 1400px) {
  .featured-product .product-img {
    width: 350px;
  }
}

.featured-product-title {
  margin-top: 0;
}

.featured-product-offer {
  margin-top: 0;
}

.featured-product .product-info {
  max-width: 380px;
}

@media (min-width: 1400px) {
  .featured-product .product-info {
    max-width: 500px;
  }
}

.john-deere-700 {
  background-image: url("./media/johndeerex700series.jpg");
}

.honda-hrx {
  background-image: url("./media/hondaHRXSeries.jpg");
}

.cub-cadet-xt1 {
  background-image: url("./media/cubcadetxt1series.png");
}

.toro-timecutter {
  background-image: url("./media/toro-timecutter.jpg");
}

.services,
.brands {
  margin: 0 auto;
}

.brands {
  max-width: 1100px;
}

.services {
  max-width: 1350px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services .service {
  max-width: 400px;
}
/*# sourceMappingURL=products.css.map */