* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-wrap: break-word;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  border-left: 10px solid #000;
  border-right: 10px solid #000;
}

body:after {
  content: "";
  bottom: 0;
  position: fixed;
  z-index: 11;
  background: #000;
  height: 10px;
  left: 0;
  right: 0;
}

.content-padding {
  padding: 3rem;
}

@media (min-width: 1000px) {
  .content-padding {
    padding: 3rem 5rem;
  }
}

@media (min-width: 1400px) {
  .content-padding {
    padding: 10rem;
  }
}

.white-text {
  color: #fff;
}

.border-bot {
  border-bottom: 3px solid #000;
}

.border-top {
  border-top: 3px solid #000;
}

.border-left {
  border-left: 3px solid #000;
}

.border-right {
  border-right: 3px solid #000;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: none;
  font-family: Roboto;
  line-height: 3rem;
  font-size: 1.8em;
}

.phone {
  margin: 0;
}

blockquote {
  font-size: 2.25em;
}

a.button {
  font-size: 2.25em;
  font-weight: 900;
}

.logo-wordmark {
  font-weight: 900;
  font-size: 2.25em;
}

.site-wrapper--content {
  padding-left: 85px;
}

.sidebar-fixed {
  position: fixed;
  width: 95px;
  height: 100%;
  background: #000;
  left: 0;
  top: 0;
  bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 70px 68% 23%;
      grid-template-rows: 70px 68% 23%;
}

.sidebar-fixed .sidebar-item {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.sidebar-fixed .sidebar-item a {
  font-size: 1.5em;
  line-height: 1.5;
}

.sidebar-fixed .sidebar-item:first-child {
  -ms-grid-row: 1;
  grid-row: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
}

.sidebar-fixed .sidebar-item:nth-child(2) {
  -ms-grid-row: 2;
  grid-row: 2;
  max-height: 6ch;
}

.sidebar-fixed .sidebar-item:last-child {
  -ms-grid-row: 3;
  grid-row: 3;
}

.sidebar-fixed .sidebar-item:last-child > a {
  margin-bottom: 1.5em;
}

.sidebar-fixed .sidebar-item:last-child > a:last-child {
  margin-bottom: 0;
}

.sidebar-fixed .sidebar-item p {
  margin: 0;
}

.sidebar-fixed .sidebar-item p,
.sidebar-fixed .sidebar-item li,
.sidebar-fixed .sidebar-item a {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
}

.sidebar-fixed .sidebar-item p:hover,
.sidebar-fixed .sidebar-item li:hover,
.sidebar-fixed .sidebar-item a:hover {
  color: #fff;
}

.fa-snowflake,
.fa-sun {
  color: #fff;
}

.fa-snowflake:hover,
.fa-sun:hover {
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

@media (max-width: 800px) {
  .sidebar-fixed {
    display: none;
  }
  .site-wrapper--content {
    padding-left: 0;
  }
}

h1 {
  margin-top: 0;
  font-weight: 900;
}

header,
footer {
  padding: 0.5em 3em;
}

header,
.sidebar-fixed {
  border-top: 10px solid #000;
  z-index: 10;
}

footer {
  border-bottom: 10px solid #000;
}

header {
  min-height: 50px;
  position: -webkit-sticky;
  position: sticky;
  background: #fff;
  border-bottom: 3px solid #000;
  top: 0;
}

header nav ul {
  padding-left: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li:not(:last-child) {
  margin-right: 3em;
}

.navbar a {
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
}

.navbar:hover a {
  color: rgba(0, 0, 0, 0.7);
}

.navbar a:hover {
  color: black;
}

#menu-btn {
  display: none;
  position: absolute;
  right: 3rem;
  top: 0.5rem;
  padding: 0 1rem;
  cursor: pointer;
  color: #fff;
  background-color: #000;
}

.menu-btn-plus {
  -webkit-transition: -webkit-transform 0.15s ease;
  transition: -webkit-transform 0.15s ease;
  transition: transform 0.15s ease;
  transition: transform 0.15s ease, -webkit-transform 0.15s ease;
}

.rotate-plus {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.scroll-lock {
  overflow: hidden;
}

@media (max-width: 670px) {
  header {
    padding: 1rem;
  }
  .navbar {
    display: none;
  }
  #menu-btn {
    display: inline-block;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.blue-hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blue-hover:hover {
  background-color: #2727e6;
  color: #fff;
}

.blue-hover:hover .button--black {
  color: #fff;
  border: 3px solid #fff;
}

.blue-hover:hover .button--black:hover {
  border: 3px solid #000;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-flex,
.footer-flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.logo-img {
  max-width: 52px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.hero-section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10rem 0;
  max-width: 800px;
  color: #fff;
}

.hero-section .hero-content h2 {
  margin-top: 0;
}

.button {
  display: inline-block;
  padding: 1.5rem;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}

.button--white {
  color: #fff;
  border: 3px solid #fff;
}

.button--white:hover {
  background: #fff;
  color: #000;
}

.button--black {
  color: #000;
  border: 3px solid #000;
}

.button--black:hover {
  background: #000;
  color: #fff;
}

.button--large {
  color: #fff;
}

.button--large h2 {
  line-height: 10rem;
  margin: 0;
}

@media (max-width: 800px) {
  .button--large {
    padding: 3rem;
    color: #000;
    background-color: #fff;
  }
  .button--large h2 {
    text-decoration: underline;
    font-size: 1.5em;
  }
}

@media (min-width: 1024px) {
  .button--large {
    border: 1.5rem solid #000;
    padding: 10rem;
  }
}

.about-link-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-bg--1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.45))), url("../media/gill-steens-399573-unsplash.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.45)), url("../media/gill-steens-399573-unsplash.jpg");
}

.hero-bg--2 {
  background-image: url("./media/christophe-laurenceau-667800-unsplash.jpg");
}

@media (max-width: 800px) {
  .hero-section .hero-content {
    padding: 3rem;
    max-width: 800px;
  }
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  padding: 3rem;
}

@media (min-width: 1199px) {
  .info-container {
    padding: 5rem 3rem;
  }
}

@media (min-width: 1400px) {
  .info-container {
    padding: 10rem;
  }
}

.img-container--1 {
  background-image: url("../media/nathan-dumlao-367165-unsplash.jpg");
}

.img-container--2 {
  background-image: url("../media/jordan-mixson-372459-unsplash.jpg");
}

.img-container--3 {
  background-image: url("../media/prajjal-biswas-514174-unsplash.jpg");
}

.bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.photos {
  min-height: 100vh;
  overflow: hidden;
}

.photos .img-container {
  width: 33.33%;
}

.triptych .panel {
  width: 33.33%;
}

.three-part-grid {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
}

@media (min-width: 1024px) {
  .three-part-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .three-part-grid div:first-child {
    grid-row: 1 / -1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .three-part-grid div:nth-child(2) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

@media (min-width: 1024px) and (max-width: 1023px) {
  .three-part-grid div:nth-child(2) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media (min-width: 1024px) {
  .three-part-grid div:last-child {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

@media (max-width: 1023px) {
  .three-part-grid div:nth-child(2) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.four-part-grid {
  display: -ms-grid;
  display: grid;
  min-height: 80vh;
}

@media (min-width: 1024px) {
  .four-part-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
  }
}

.quotes {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quotes .quote {
  width: 50%;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10rem 3rem;
}

.quotes .quote .img-container {
  width: 75px;
  height: 75px;
  border-radius: 50px;
}

.quotes .quote--img-1 {
  background-image: url("./media/quote-1.jfif");
}

.quotes .quote--img-2 {
  background-image: url("./media/quote-2.jfif");
}

.quotes blockquote {
  z-index: 1;
  position: relative;
}

.quotes blockquote:before {
  content: "\201C";
  position: absolute;
  top: 12px;
  left: -18px;
  color: #8888e3;
  font-size: 6em;
  z-index: -1;
}

.hero--2 {
  min-height: 70vh;
  width: 100%;
}

.banner {
  min-height: 20vh;
  height: 100%;
  width: 100%;
  padding: 0 0 3rem;
}

.section-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3rem;
}

@media (max-width: 1199px) {
  .section-title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 1200px) {
  .section-title {
    padding: 0 10rem;
  }
}

.brands {
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.brands .img-container {
  margin: 1.5em;
  height: 100px;
  min-width: 150px;
  background-size: contain;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.brand-img--lawnboy {
  background-image: url("../media/lawnBoy.png");
}

.brand-img--toro {
  background-image: url("../media/Toro-logo-90A16D8DDB-seeklogo.com.png");
}

.brand-img--cubcadet {
  background-image: url("../media/cubcadet.jpeg");
}

.brand-img--honda {
  background-image: url("../media/2000px-Honda.svg.png");
}

.brand-img--ryobi {
  background-image: url("../media/ryobi-logo.png");
}

.brand-img--troybilt {
  background-image: url("../media/troybilt-logo.jpg");
}

.brand-img--swisher {
  background-image: url("../media/swisher-logo.jfif");
}

.brand-img--ego {
  background-image: url("../media/ego-power-logo.png");
}

.brand-img--craftsman {
  background-image: url("../media/craftsman-logo.png");
}

.brand-img--ariens {
  background-image: url("../media/ariens-logo.png");
}

.brand-img--john-deere {
  background-image: url("../media/john-deere.png");
}

.brand-img--container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 3em;
}

footer {
  min-height: 50px;
  background: black;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer a,
footer p,
footer .footer-logo p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #fff;
}

footer .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-logo .logo-img {
  margin-right: 1.5rem;
}

footer .footer-logo p {
  max-width: 9ch;
}

footer .footer-flex {
  padding-top: 1.5rem;
}

footer .footer-flex p {
  margin: 0;
}

@media (max-width: 1024px) {
  .mobile-border-bot {
    border-bottom: 3px solid #000;
  }
  .triptych .panel {
    width: 100%;
    height: 100%;
  }
  .border-left,
  .border-right {
    border-left: none;
    border-right: none;
  }
}

@media (max-width: 800px) {
  .photos .img-container {
    width: 100%;
    height: 100%;
  }
  .quotes .quote {
    width: 100%;
  }
  .brands .img-container {
    min-width: 100px;
    height: 75px;
  }
}

.menu-opened .mobile-overlay {
  height: 40vh;
  width: 100%;
  background-color: rgba(14, 14, 14, 0.7);
  position: fixed;
  bottom: 0;
}

.menu-opened header {
  height: 60vh;
}

.menu-opened .header-flex {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-opened .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-opened .navbar ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-opened .navbar ul li {
  margin-top: 1em;
  margin-bottom: 3rem;
}

.menu-opened .navbar ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.25em;
  font-weight: 600;
}

.menu-opened .navbar i {
  width: 20px;
  margin-right: 1.5rem;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */