* {
  box-sizing: border-box;
  overflow-wrap: break-word;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  border-left: 10px solid #000;
  border-right: 10px solid #000;
  &:after {
    content: "";
    bottom: 0;
    position: fixed;
    z-index: 11;
    background: #000;
    height: 10px;
    left: 0;
    right: 0;
  }
}

.content-padding {
  padding: 3rem;
  @media (min-width: 1000px) {
    padding: 3rem 5rem;
  }
  @media (min-width: 1400px) {
    padding: 10rem;
  }
}

//color helpers
.white-text {
  color: #fff;
}

//border helpers

.border-bot {
  border-bottom: 3px solid #000;
}

.border-top {
  border-top: 3px solid #000;
}

.border-left {
  border-left: 3px solid #000;
}

.border-right {
  border-right: 3px solid #000;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: none;
  font-family: Roboto;
  line-height: 3rem;
  font-size: 1.8em;
}

.phone {
  margin: 0;
}

blockquote {
  font-size: 2.25em;
}

a.button {
  font-size: 2.25em;
  font-weight: 900;
}

.logo-wordmark {
  font-weight: 900;
  font-size: 2.25em;
}
.site-wrapper {
  &--content {
    padding-left: 85px;
  }
}
.sidebar-fixed {
  position: fixed;
  width: 95px;
  height: 100%;
  background: #000;
  left: 0;
  top: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 70px 68% 23%;
  .sidebar-item {
    justify-self: center;
    display: flex;
    align-items: center;
    writing-mode: vertical-lr;
    a {
      font-size: 1.5em;
      line-height: 1.5;
    }
    &:first-child {
      grid-row: 1;
      //offset the border top
      justify-content: center;
      padding-bottom: 10px;
    }
    &:nth-child(2) {
      a {
      }
      grid-row: 2;
      max-height: 6ch;
    }
    &:last-child {
      grid-row: 3;
      > a {
        margin-bottom: 1.5em;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    p {
      margin: 0;
    }
    p,
    li,
    a {
      writing-mode: vertical-rl;
      color: rgba(255, 255, 255, 0.5);
      transition: color 0.25s ease;
      &:hover {
        color: #fff;
      }
    }
  }
}

.fa-snowflake,
.fa-sun {
  color: #fff;
  &:hover {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }
}

@media (max-width: 800px) {
  .sidebar-fixed {
    display: none;
  }
  .site-wrapper--content {
    padding-left: 0;
  }
}
h1 {
  margin-top: 0;
  font-weight: 900;
}
header,
footer {
  padding: 0.5em 3em;
}
header,
.sidebar-fixed {
  border-top: 10px solid #000;
  z-index: 10;
}
footer {
  border-bottom: 10px solid #000;
}
header {
  min-height: 50px;
  position: sticky;
  background: #fff;
  border-bottom: 3px solid #000;
  top: 0;
  nav ul {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    li:not(:last-child) {
      margin-right: 3em;
    }
  }
}
.navbar {
  a {
    transition: color 0.25s ease;
  }
  &:hover a {
    color: rgba(0, 0, 0, 0.7);
  }
  a:hover {
    color: rgba(0, 0, 0, 1);
  }
}
#menu-btn {
  display: none;
  position: absolute;
  right: 3rem;
  top: 0.5rem;
  padding: 0 1rem;
  cursor: pointer;
  color: #fff;
  background-color: #000;
}
.menu-btn-plus {
  transition: transform 0.15s ease;
}
.rotate-plus {
  transform: rotate(-45deg);
}
.scroll-lock {
  overflow: hidden;
}
@media (max-width: 670px) {
  header {
    padding: 1rem;
  }
  .navbar {
    display: none;
  }
  #menu-btn {
    display: inline-block;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.blue-hover {
  transition: all 0.5s ease;
  &:hover {
    background-color: #2727e6;
    color: #fff;
    .button--black {
      color: #fff;
      border: 3px solid #fff;
      &:hover {
        border: 3px solid #000;
      }
    }
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.nowrap {
  flex-wrap: nowrap;
}
.flex-column {
  flex-direction: column;
}
.header-flex,
.footer-flex {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo-img {
  max-width: 52px;
  align-self: flex-start;
}

.hero-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10rem 0;
    max-width: 800px;
    color: #fff;
    h2 {
      margin-top: 0;
    }
  }
}

.button {
  display: inline-block;
  padding: 1.5rem;
  transition: all 0.35s ease-out;
  &--white {
    color: #fff;
    border: 3px solid #fff;
    &:hover {
      background: #fff;
      color: #000;
    }
  }
  &--black {
    color: #000;
    border: 3px solid #000;
    &:hover {
      background: #000;
      color: #fff;
    }
  }
}

.button--large {
  color: #fff;
  h2 {
    line-height: 10rem;
    margin: 0;
  }
}
@media (max-width: 800px) {
  .button--large {
    padding: 3rem;
    color: #000;
    background-color: #fff;
    h2 {
      text-decoration: underline;
      font-size: 1.5em;
    }
  }
}

@media (min-width: 1024px) {
  .button--large {
    border: 1.5rem solid #000;
    padding: 10rem;
  }
}

.about-link-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-bg {
  &--1 {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.45)),
      url("../media/gill-steens-399573-unsplash.jpg");
  }
  &--2 {
    background-image: url("./media/christophe-laurenceau-667800-unsplash.jpg");
  }
}

@media (max-width: 800px) {
  .hero-section {
    .hero-content {
      padding: 3rem;
      max-width: 800px;
    }
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: 3rem;
}
@media (min-width: 1199px) {
  .info-container {
    padding: 5rem 3rem;
  }
}
@media (min-width: 1400px) {
  .info-container {
    padding: 10rem;
  }
}
.img-container {
  &--1 {
    background-image: url("../media/nathan-dumlao-367165-unsplash.jpg");
  }
  &--2 {
    background-image: url("../media/jordan-mixson-372459-unsplash.jpg");
  }
  &--3 {
    background-image: url("../media/prajjal-biswas-514174-unsplash.jpg");
  }
}
.bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.photos {
  min-height: 100vh;
  overflow: hidden;
  .img-container {
    width: 33.33%;
  }
}

.triptych {
  .panel {
    width: 33.33%;
  }
}

.three-part-grid {
  display: grid;
  min-height: 100vh;
  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    div:first-child {
      grid-row: 1 / -1;
      grid-column: 1;
    }
    div:nth-child(2) {
      grid-row: 1;
      grid-column: 2;
      @media (max-width: 1023px) {
        order: -1;
      }
    }
    div:last-child {
      grid-row: 2;
      grid-column: 2;
    }
  }
  div:nth-child(2) {
    @media (max-width: 1023px) {
      order: -1;
    }
  }
}

.four-part-grid {
  display: grid;
  min-height: 80vh;
  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
  }
}

.quotes {
  align-items: center;
  .quote {
    width: 50%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 10rem 3rem;
    .img-container {
      width: 75px;
      height: 75px;
      border-radius: 50px;
    }
    &--img-1 {
      background-image: url("./media/quote-1.jfif");
    }
    &--img-2 {
      background-image: url("./media/quote-2.jfif");
    }
  }
  blockquote {
    z-index: 1;
    position: relative;
    &:before {
      content: "\201C";
      position: absolute;
      top: 12px;
      left: -18px;
      color: #8888e3;
      font-size: 6em;
      z-index: -1;
    }
  }
}

.hero--2 {
  min-height: 70vh;
  width: 100%;
}

.banner {
  min-height: 20vh;
  height: 100%;
  width: 100%;
  padding: 0 0 3rem;
}

.section-title {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 3rem;
}
@media (max-width: 1199px) {
  .section-title {
    justify-content: flex-start;
  }
}
@media (min-width: 1200px) {
  .section-title {
    padding: 0 10rem;
  }
}

.brands {
  height: 100%;
  width: 100%;
  flex-direction: column;
  text-align: center;
  .img-container {
    margin: 1.5em;
    height: 100px;
    min-width: 150px;
    background-size: contain;
    filter: grayscale(100%);
  }
}

.brand-img {
  &--lawnboy {
    background-image: url("../media/lawnBoy.png");
  }
  &--toro {
    background-image: url("../media/Toro-logo-90A16D8DDB-seeklogo.com.png");
  }
  &--cubcadet {
    background-image: url("../media/cubcadet.jpeg");
  }
  &--honda {
    background-image: url("../media/2000px-Honda.svg.png");
  }
  &--ryobi {
    background-image: url("../media/ryobi-logo.png");
  }
  &--troybilt {
    background-image: url("../media/troybilt-logo.jpg");
  }
  &--swisher {
    background-image: url("../media/swisher-logo.jfif");
  }
  &--ego {
    background-image: url("../media/ego-power-logo.png");
  }
  &--craftsman {
    background-image: url("../media/craftsman-logo.png");
  }
  &--ariens {
    background-image: url("../media/ariens-logo.png");
  }
  &--john-deere {
    background-image: url("../media/john-deere.png");
  }
  &--container {
    justify-content: center;
    padding: 0 0 3em;
  }
}

footer {
  min-height: 50px;
  background: black;
  a,
  p,
  .footer-logo p {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #fff;
  }
  .footer-logo {
    display: flex;
    align-items: center;
    .logo-img {
      margin-right: 1.5rem;
    }
    p {
      max-width: 9ch;
    }
  }
  width: 100%;
  flex-direction: row;
  .footer-flex {
    padding-top: 1.5rem;
    p {
      margin: 0;
    }
  }
}
@media (max-width: 1024px) {
  .mobile-border-bot {
    border-bottom: 3px solid #000;
  }
  .triptych .panel {
    width: 100%;
    height: 100%;
  }
  .border-left,
  .border-right {
    border-left: none;
    border-right: none;
  }
}

@media (max-width: 800px) {
  .photos {
    .img-container {
      width: 100%;
      height: 100%;
    }
  }
  .quotes {
    .quote {
      width: 100%;
    }
  }
  .brands .img-container {
    min-width: 100px;
    height: 75px;
  }
}

.menu-opened {
  .mobile-overlay {
    height: 40vh;
    width: 100%;
    background-color: rgba(14, 14, 14, 0.7);
    position: fixed;
    bottom: 0;
  }
  header {
    height: 60vh;
  }
  .header-flex {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  .navbar {
    display: flex;
    ul {
      flex-direction: column;
      li {
        margin-top: 1em;
        margin-bottom: 3rem;
      }
      a {
        display: flex;
        align-items: center;
        font-size: 2.25em;
        font-weight: 600;
      }
    }
    i {
      width: 20px;
      margin-right: 1.5rem;
      text-align: center;
    }
  }
}
